# netbeans specific ignores
nbproject/private/
build/
nbbuild/
dist/
nbdist/
nbactions.xml
.nb-gradle/

# eclipse specific ignores
RemoteSystemTempFiles/
.classpath
.metadata
.project
.settings/

#maven
/target