<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/moviedb</property>
    <property name="hibernate.connection.username">adminDB</property>
    <property name="hibernate.connection.password">waschmaschine</property>
    <property name="hibernate.show_sql">true</property>
    <mapping resource="blackmediamanager/database/domain/MovieHasGenre.hbm.xml"/>
    <mapping resource="blackmediamanager/database/domain/TvshowHasSeason.hbm.xml"/>
    <mapping resource="blackmediamanager/database/domain/SeasonHasAudioline.hbm.xml"/>
    <mapping resource="blackmediamanager/database/domain/MovieHasAudioline.hbm.xml"/>
    <mapping resource="blackmediamanager/database/domain/Season.hbm.xml"/>
    <mapping resource="blackmediamanager/database/domain/Edition.hbm.xml"/>
    <mapping resource="blackmediamanager/database/domain/MovieHasEdition.hbm.xml"/>
    <mapping resource="blackmediamanager/database/domain/Movie.hbm.xml"/>
    <mapping resource="blackmediamanager/database/domain/TvshowHasGenre.hbm.xml"/>
    <mapping resource="blackmediamanager/database/domain/MovieHasOwner.hbm.xml"/>
    <mapping resource="blackmediamanager/database/domain/Genre.hbm.xml"/>
    <mapping resource="blackmediamanager/database/domain/Tmdbinfo.hbm.xml"/>
    <mapping resource="blackmediamanager/database/domain/Tvshow.hbm.xml"/>
    <mapping resource="blackmediamanager/database/domain/MovieCollection.hbm.xml"/>
    <mapping resource="blackmediamanager/database/domain/Owner.hbm.xml"/>
    <mapping resource="blackmediamanager/database/domain/Videoline.hbm.xml"/>
    <mapping resource="blackmediamanager/database/domain/Audioline.hbm.xml"/>
    <mapping resource="blackmediamanager/database/domain/SeasonHasOwner.hbm.xml"/>
  </session-factory>
</hibernate-configuration>
