<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/moviedb</property>
    <property name="hibernate.connection.username">adminDB</property>
    <property name="hibernate.connection.password">waschmaschine</property>
    <property name="hibernate.show_sql">true</property>
    <mapping resource="domain/Ownerpos.hbm.xml"/>
    <mapping resource="domain/Audioline.hbm.xml"/>
    <mapping resource="domain/Genre.hbm.xml"/>
    <mapping resource="domain/Genrepos.hbm.xml"/>
    <mapping resource="domain/Audiolinepos.hbm.xml"/>
    <mapping resource="domain/Movie.hbm.xml"/>
    <mapping resource="domain/Owner.hbm.xml"/>
    <mapping resource="domain/Videoline.hbm.xml"/>
    <mapping resource="domain/Tmdbinfo.hbm.xml"/>
  </session-factory>
</hibernate-configuration>
